@import "@/assets/styles/size.scss";
@mixin card-hfset {
  height: calc(1rem + 5vw);
}
.card {
  height: 100%;
  flex-direction: column;
  .card-header,
  .card-footer {
    @include card-hfset;
    flex-shrink: 0; /* 避免被壓縮 */
  }
  .card-header {
    .bi-backspace {
      display: none;
      visibility: hidden;
      cursor: pointer;
      font-size: 1.5rem;
      @include respond-to(xs) {
        display: block;
        visibility: visible;
      }
    }
  }
  .card-body {
    font-size: 1rem;
    flex-grow: 1;
    overflow-y: auto;
    .messagebar {
      .userimg {
        max-height: 50px;
        max-width: 50px;
      }
    }
    .talkboard-body {
      max-width: 80%;
      height: auto;
      @include respond-to(md) {
        max-width: 60%;
      }
    }
    .messageself {
      background-color: springgreen;
    }
    .messageorther {
      background-color: lightgray;
    }
    // &::-webkit-scrollbar {
    //     display: none;
    // }
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 2px;
    }
  }
  .card-footer {
    .sendmsgbtn {
      width: 5vw;
      min-width: 58px;
    }
  }
}
